<FilesMatch "^index.html">
    ForceType text/html
</FilesMatch>

RedirectPermanent /random http://www.notapathetic.com/
RedirectPermanent /search http://www.notapathetic.com/
RedirectPermanent /cgi-bin/similarity.cgi http://www.notapathetic.com/
RedirectPermanent /cgi-bin/tags.cgi http://www.notapathetic.com/
RedirectPermanent /cgi-bin/comment.cgi http://www.notapathetic.com/

