body {font-family georgia, serif; text-align:center;line-height:1.8em;margin:0;
	color:black;font-size:0.9em;}	
#divPage {margin:0 auto;background:white;text-align:left;padding: 0 10%;}

/* Header */
#divHeader {position:relative; background:url(../images/people.png) no-repeat;min-height:80px;_min-height:80px;
	margin-bottom:20px;}
#divHeader h1 {margin-left:40px;padding-top:15px; font-weight:normal;}
#divHeader h1 a {color:#0066ff; text-decoration:none;}
#divHeader h1 span {font-weight:bold;}
#divHeader h2 {color:#525252;margin-left:145px; font-weight:normal; font-size:1.1em;}

/* Headings */
h3 {font-weight:normal; font-size:1.6em; color:#0066ff;padding:0.4em 0;}
h3.centerpage {text-align:center;border-bottom:dotted 1px #808080;margin-bottom:1em;margin-top:0.5em;}
div.processheader {position:relative}

/* Menu */
#ulMenu {width:500px;margin:0 auto; position:absolute; right:0;top:0;}
#ulMenu li {float:right;text-align:center;padding-top:0.2em;}
#ulMenu li a {margin-left:1em;padding-right:1em;display:block; color:black; 
	text-decoration:none;padding-bottom:0.2em;}
#ulMenu li.selected {background: #0066ff url(../images/menuleft.png) bottom left no-repeat;}
#ulMenu li.selected a {background:url(../images/menuright.png) bottom right no-repeat; color:white}

/* Layout */
div.contentleft, div.contentright {float:left;}
div.contentleft {width:68%; padding: 0 1%;}
div.contentright {width:28%;padding: 0 1%;}

/* Search box */
#frmSearchMain {text-align:center;}
#divMainSearch {background:url(../images/searchbottom.png) no-repeat bottom left; width:542px; 
	margin:20px auto 0 auto;}
#divMainSearch label{display:block;background:url(../images/searchtop.png) no-repeat;
	padding:1.5em 0.2em 0.5em 0.2em;font-size:1.8em;}
#divMainSearch input.textbox {font-size:1.5em; width:380px; text-align:center;}	
#divMainSearch small {display:block; text-align:right; font-size:1em;color:#5e5e5e;
	padding-right:100px;padding-bottom:25px;}

/* Index */
#divFrontLeft, #divFrontRight {width:44%; float:left; text-align:left;
	margin-top:2.2em;background:#fafafa;padding:2%;}
#divFrontLeft {margin-right:1%;}	
#divFrontRight {margin-left:3%;}
#aGetStarted, #aBrowseAll {font-size:1.3em;}	

/* Location page */
#frmSearchPlaceName #ddlCountry, #frmSearchAgain #ddlCountry {width:150px;}
#frmSearchAgain {padding:1em;}

/* Tracker */
#ulTracker {position:relative;height:2em;
    margin-top:35px; padding:10px 0 10px 0;}
#ulTracker li {display:block; color:#333;margin:0;width: 22.8%; 
	background:#ececec;margin-right: 1px;padding-top: 2px; padding-left:2%;
	position: relative;}
#ulTracker li.current {background:#0066ff;}	
#ulTracker li.complete {background:#C3CFDF;}	
#ulTracker li.complete a {color:#333;}
#ulTracker li.current a {color:white;}
#ulTracker li a {text-decoration:none;display: block;}

/* Attention grabbers */
div.attention {text-align:center; padding-top:1em;}
div.attention h3 {font-size:2em;padding-bottom:0.3em;font-style:normal; color:#456FB1;}

/* Warnings & errors*/
#divWarning {background:#ff6f75;font-size:0.9em;text-align:center; margin-bottom:1em;}
input.error, textarea.error {background:#ff6f75;}
small.error {background:#ff6f75;}

/* required information */
small.required {background:#fafafa;padding:8px;}
small.required span {font-size:1.4em;position:relative; top:4px;}

/* Signup about */
#txtByline {width:300px;}
#txtDescription {width:350px;height:150px;}
#smlDescriptionHint {padding-left:170px;}

/* Signup map */
#divMapWrapper {text-align:center;border:solid 1px #ccc;background:#efefef;
	position:relative;}
#divMapSearch {text-align:center;width:100%;
	z-index:100;background:#ffffaa;border-bottom:solid 1px #ccc;padding:5px 0;}
#divMapSearch #txtSearchMap {width:200px;}	
#divMapWrapper #divMap {margin:0 auto;}
#divMapInfo {padding-left:420px;}
#imgMapLoading {display:none;padding:0 10px;}

/* Signup contact */
#ulInvolved label {display:block; float:left;width:180px;}
#ulInvolved  input.radio {float:left;}

/* Search results */
#frmSearchPage {text-align:center; padding-bottom:1em;}
div.searchresult {margin-bottom:1em;}
div.searchresult h4 {font-size:1.2em;}
div.searchresult em {font-weight:normal; color:#5e5e5e;}
div.searchresult p {margin:0;padding:0;}

#frmPledge {margin:1em;background-color:#F6E5FF;border:2px solid #522994;
	padding:20px 16px 5px 16px;}
#frmPledge h4 {padding-bottom:1em;}
#frmPledge label {width:100px; font-weight:bold;font-size:1.1em;}
#frmPledge textarea {width:350px;}

/* Group page */
#divReturnToSearch {padding:0.5em 0 1em 0;}
#divGroup {position:relative;}
#divGroup.preview {margin:15px; border:solid 1px #ccc; padding:10px;}
#divGroup h3 {margin-bottom:0.3em;margin:0;padding-right:200px;}
#divGroup h4 {color:#5e5e5e;font-size:1.3em; font-style:italic;font-weight:normal;margin-bottom:0.2em;
	padding-right:200px;}
#divGroup h4:first-letter {text-transform:uppercase;}	
#divInvolved {position:absolute; right:5px; top:-5px;display:block; width:200px;
	background:url(../images/involvedbottom.png) no-repeat bottom left;}
#divInvolved a {display:block;background:url(../images/involvedtop.png) no-repeat;
	min-height:42px;_min-height:42px;font-size:1.2em; text-align:center;padding-top:15px;}	
#divDescription {margin-bottom:1.5em;}
#divMeta {background:#efefef; margin-top:1em;margin-bottom:1.5em;padding:0.3em 1em;}

/* Contact */
#txtContactMessage {width:400px; height:300px;}

/* Owner contact form */
#frmOwnerContact {width:600px;margin:0 auto;text-align:left;}
#frmOwnerContact #txtEmails {width:250px;}
#frmOwnerContact #txtContactMessage {width:400px; height:170px;}

/* Attention grabbers */
div.attention {text-align:center; padding-top:1em;}
div.attention h3 {font-size:2em;padding-bottom:0.3em;font-style:normal; color:#456FB1;}
ul.shout, p.shout {font-size:1.3em;}
ul.shout {line-height:1.8em;}

/* Preview */
#divPreview #divGroup {border:solid 1px #5e5e5e;padding:10px;margin-top:1em;}
#pEditGroup {position:absolute;}

/* Faqs */
dl.faq dt {font-size:1.3em;}
dl.faq dd {padding-left:0;margin-left:0;padding-bottom:1em;}

/* api */
div.apiitem {border:dotted 1px #808080;background:#fafafa;padding:10px;margin:1em 1em 0 0;}
div.apiitem h5 {font-size:1.1em;}
div.apiitem code {background:white;display:block;padding:10px;border:solid 1px #808080;
word-wrap: break-word}
div.apiitem code em {color:#808080;}
div.apiitem p {margin:0;padding:0;line-height:1.5em;margin-bottom:1em;font-size:0.9em;}
p.apiexamples {position:relative; top:0.7em;}
#hLicenseInfo {background:url(../images/salicense.png) no-repeat right 1em;padding-bottom:4px;
	padding-top:1.2em;margin-right:1em;margin-top:1em;}

/* infobox */
.infobox {background:#fdd9ea; font-size:0.9em;}

/* highlight */
span.highlight {background:#ffffaa;}

/* Index footer */
#divSiteUpdates {border-top:dotted 1px #808080;padding-top:0.5em;}
#divSiteUpdates ul {font-size:0.9em;margin:0;}
#divSiteUpdates em {padding-right:0.5em;color:#456FB1;}

/* Shout */
div.shout {text-align:center; font-size:1.5em;}

/* A-Z index */
dl.azindex dt {font-size:1.6em;clear:left;position:relative; top:1.2em;float:left;
	color:#808080;}
dl.azindex dd {border-bottom:dotted 1px #ccc;}
dl.azindex ul {clear:left}
dl.azindex li {min-width:32%;_min-width:32%;}

/* Links */
a {color:#0066ff;}
a:visited {color:#0048af;}
a.quiet {color: #808080}
a:visited.quiet {color: #808080}
a.rss {padding-left:20px; background:url(../images/rss.png) no-repeat 3px 0;}

/* Footer */
#divFooter {text-align:center;padding-top:1.5em;position:relative;clear:left;}
#divFooter a {color:#5e5e5e;}
#divFooter #aHosted {display:block;width:130px;height:35px;background:url(../images/hosted.png);
	position:absolute; right:0; top:30px;}
#divFooter ul {border-top:dotted 1px #808080;padding-top:8px;padding-bottom:20px;}

/* Page mask */
#divMask {z-index:30;background:#333;position:absolute;top:0; left:0;
    -moz-opacity:0.3!important;filter:alpha(opacity="30")!important;opacity:0.3!important;}

/* Buttons */
input.button {font-family:georgia, serif;}
div.buttons input {font-size:1.3em;}