<FilesMatch "^index.html">
    ForceType text/html
</FilesMatch>

RewriteEngine on
RewriteRule ^closed$ closed.html

RedirectPermanent /random http://uk2005.notapathetic.com/
RedirectPermanent /search http://uk2005.notapathetic.com/
RedirectPermanent /new http://uk2005.notapathetic.com/
RedirectPermanent /cgi-bin/similarity.cgi http://uk2005.notapathetic.com/
RedirectPermanent /cgi-bin/tags.cgi http://uk2005.notapathetic.com/
RedirectPermanent /cgi-bin/comment.cgi http://uk2005.notapathetic.com/
RedirectPermanent /cgi-bin/rss.cgi http://uk2005.notapathetic.com/

