body {font-family: helvetica, arial, sans; text-align:center;line-height:1.8em;margin:0;
	color:black;font-size:0.9em;}
#divPage {margin:0 auto;background:white;text-align:left;padding: 0 5%;}

/* Header */
#divHeader {border-bottom:solid 1px #808080; text-align:center;padding:30px 0 10px 0;}
#divHeader h1 {padding-bottom:5px;}
#divHeader #ulMenu {text-align:center;}

/* tables */
table {width:90%; margin:5%;}
table td.buttoncell {text-align:center; width:75px;}
tr {border-bottom:dotted 1px #808080;}
tr.disabled {background:#ccc;}

/* buttons */
input.edit {background-color:#1b00ff; color:white;}
input.delete {background-color:#cc0000; color:white;}
input.disable {background-color:#ff8a00; color:white;}
input.enable {background-color:#477f4a; color:white;}

/* Warnings & errors*/
#divWarning {background:#ff6f75;font-size:0.9em;text-align:center; margin-bottom:1em;}
input.error, textarea.error {background:#ff6f75;}
small.error {background:#ff6f75;}

/* Search box */
#divSearch {text-align:center; padding:10px;}
